 {% extends 'apps/base_include/base.html' %}
{% load humanize %}


{% block main %}
    <div class="card mb-3">
        <div class="card-body">
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Oqim yaratish</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'thread' %}" method="POST" class="form-class">
                                {% csrf_token %}
                                <input name="product" type="hidden" id="hidden_product">

                                Oqim nomi <input type="text" name="title" class="form-control" 
                                                 mt-2="Oqim uchun nom kiriting" required="" id="id_title">

                                Chegirma <input type="text" name="discount_price" class="form-control" placeholder=""

                                                id="id_discount">

                                <input type="submit" class="btn btn-primary mt-4" value="Oqim yaratish">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
              {% if messages %}

                            {% for message in messages %}
                                <h5 class="{{ message.tags }}{% if message.tags == 'success' %}  text-success {% else %} text-danger {% endif %}">{{ message }}</h5>
                            {% endfor %}

                    {% endif %}
                <br>
                <br>
                <h3 class="text-center"> Hozirda sotuvda bor <br> mahsulotlar </h3>
                <br>

                <div class="container border-bottom-4">
                    <div class="header_tab_menu">
                        <div class="header_menu" style="overflow: auto">
                            <a href="{% url 'market' 'all' %}"
                               class="btn btn-default {% if slug == 'all' %} active {% endif %}" > Hammasi </a>
                            <a href="{% url 'market' 'top' %}"
                               class="btn btn-default {% if slug == 'top' %} active {% endif %}"> Top tovarlar </a>
                            {% for category in categories %}
                                <a href="{% url 'market' category.slug %}"
                                   class="btn btn-default {% if slug == category.slug %} active {% endif %}"> {{ category.name }} </a>
                            {% endfor %}

                        </div>
                        <div class="search-box" style="width: 100%;">
                            <form action="{% url 'market' 'all' %}" method="GET" class="position-relative"
                                  style="width: 100%" data-bs-display="static" autocomplete="off">

                                <input id="search-input" name="q" class="form-control search-input" type="search"
                                       placeholder="Qidiruv..." aria-label="Search">
                                <svg class="svg-inline--fa fa-search fa-w-16 search-box-icon" aria-hidden="true"
                                     focusable="false" data-prefix="fas" data-icon="search" role="img"
                                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                          d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                                </svg>
                                <!-- <span class="fas fa-search search-box-icon"></span> Font Awesome fontawesome.com -->
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-4 p-2">
                            <div class="card">
                                <a href="{% url 'product-detail' product.slug %}" target="_blank">
                                    <img class="card-img-top" src="{{ product.image.url }}"
                                         alt="Savdogarlar ustozi 1 va 2-kitoblar yana sotuvda">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="{% url 'product-detail' product.slug %}"
                                           target="_blank">
                                            {{ product.name }}
                                        </a>
                                    </h5>
                                    <p class="text-muted"> {{ product.price|floatformat:0|intcomma }} so'm </p>
                                </div>

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item salesman_price">To'lov: <strong>{{ product.selesman_price|floatformat:0|intcomma }} </strong>
                                    </li>

                                    <li class="list-group-item">Zaxirada: <strong> {{ product.quantity }} ta </strong>
                                    </li>
                                    {% if product.discount > 0 %}
                                        <li class="list-group-item">Chegirma: <strong> Ha </strong>
                                            {% else %}
                                        <li class="list-group-item">Chegirma: <strong> Yoq </strong>
                                        </li>
                                    {% endif %}

                                </ul>

                                <!-- <form method="post"> <input type="hidden" name="csrfmiddlewaretoken" value="IohZDb8XVD60jsPnJqOaKfvt4kAxWfeFPh7qKwsUxeoWlOj3C3P3HiH0txKqy9Q4"> <input type="hidden" name="product_id" value="479"> <input type="submit" value="Oqim yaratish" class="btn btn-primary"> </form> -->

                                <a href="https://t.me/alijahon_uz_Internet_magazin/1652"
                                   class="btn bg-danger text-white mt-2">Reklama
                                    Posti</a>
                                <button class="btn btn-primary btn_open_modal mt-2" type="button" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal" name="{{ product.id }}">
                                    Oqim yaratish
                                </button>
                                <a href="/admin_page/product/479" class="btn bg-danger text-white mt-2">Batafsil</a>
                            </div>
                        </div>
                    {% endfor %}





                </div>
            </div>
        </div>
    </div>
{% endblock %}